    <p class='banner-txt'>My Lists</p>
    <div id="list">
      <% @lists.each do |list| %>
      <li class='list-name list-unstyled'><%= link_to list.name, list_path(list), class:"text-decoration-none list-name" %></li>
      <%end%>
    </div>

